n8n-instantly-slack-workflow.json
{
  "name": "Instantly → Slack Reply Notifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instantly-replies",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Instantly Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "instantly-replies"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"reply_text\"] }}",
              "operation": "notContains",
              "value2": "unsubscribe"
            },
            {
              "value1": "={{ $json[\"reply_text\"] }}",
              "operation": "notContains",
              "value2": "not interested"
            },
            {
              "value1": "={{ $json[\"reply_text\"] }}",
              "operation": "notContains",
              "value2": "remove me"
            },
            {
              "value1": "={{ $json[\"reply_text\"] }}",
              "operation": "notContains",
              "value2": "wrong person"
            },
            {
              "value1": "={{ $json[\"reply_text\"] }}",
              "operation": "notContains",
              "value2": "no thanks"
            },
            {
              "value1": "={{ $json[\"reply_text\"] }}",
              "operation": "notContains",
              "value2": "stop emailing"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Filter — Positive or Negative?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL_REPLIES",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🟢 Positive Reply — ALIF Campaign\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Name:*\\n{{ $json[\\\"first_name\\\"] }} {{ $json[\\\"last_name\\\"] }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Company:*\\n{{ $json[\\\"company_name\\\"] }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Email:*\\n{{ $json[\\\"from_address\\\"] }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Campaign:*\\n{{ $json[\\\"campaign_name\\\"] }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Their reply:*\\n> {{ $json[\\\"reply_text\\\"] }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": { \"type\": \"plain_text\", \"text\": \"View in Instantly ↗\", \"emoji\": true },\n          \"style\": \"primary\",\n          \"url\": \"https://app.instantly.ai/app/leads\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Slack — Positive Reply Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 180]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL_UNSUBSCRIBES",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🔴 Negative Reply — Unsubscribe Review\",\n        \"emoji\": true\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Name:*\\n{{ $json[\\\"first_name\\\"] }} {{ $json[\\\"last_name\\\"] }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Email:*\\n{{ $json[\\\"from_address\\\"] }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Campaign:*\\n{{ $json[\\\"campaign_name\\\"] }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Their reply:*\\n> {{ $json[\\\"reply_text\\\"] }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"⚠️ Remove this lead from Instantly and mark as unsubscribed.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Slack — Negative Reply Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 420]
    }
  ],
  "connections": {
    "Instantly Webhook": {
      "main": [
        [
          {
            "node": "Filter — Positive or Negative?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Positive or Negative?": {
      "main": [
        [
          {
            "node": "Slack — Positive Reply Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Negative Reply Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
